@mixin iconSize($iconWidth, $iconHeight) {
  width: $iconWidth;
  height: $iconHeight;
}

.knowledge-stack {
  margin: 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @include small-desktop {
    margin: 1.5em 0;
  }
  .icon { 
      @include iconSize(30px, 30px);
      margin-right: 0.8em;
      margin-top: 0.8em;
      transition-property: all;
      transition-duration: 1s;
      img {
        @include iconSize(30px, 30px);
        border-radius: 5px;
        @include small-desktop {
          @include iconSize(40px, 40px); 
          @include grayscale(90%);
        }
        @include desktop {
          @include iconSize(50px, 50px);
        }
      }
    }
    .add-shadow {
      @include shadow(1px, 1px, 12px, 0px, rgba(0,0,0,0.35));
      img { 
        @include iconSize(55px, 55px);
        @include grayscale(0%);
      }
  }
}