.portfolioCase {
    margin-top:50px;
    height: 100%; 
    display: inline-block;
    & figure { 
      display: inline-block;
      margin: 0;
      margin-right: 20px;
      & img { 
        display: block;
        margin: 0 auto;
        margin-bottom: 0.1rem;
      }
      & figcaption { 
        width:100%;
        font-size: 0.8rem;
      }
    }
    & ul { 
        list-style: none;
        font-size: 0.8rem;
        padding: 0;
        text-align: center;
        & li {
          padding: 5px 0;
        }
      }
}