.portfolioCase {
    height: 100%; 
    display: inline-block;
    grid-area: showcase;
    position: relative;
    z-index: 1;
    & figure { 
      display: inline-block;
      margin: 0;
      margin-right: 20px;
      & img { 
        display: block;
        margin: 0 auto;
        margin-bottom: 0.1rem;
      }
      & figcaption { 
        width:100%;
        font-size: 0.8rem;
      }
    }
    & ul { 
        list-style: none;
        font-size: 0.8rem;
        padding: 0;
        text-align: center;
        & li {
          padding: 5px 0;
        }
    }
    .fadeIn { 
      position: relative;
      animation-duration: 1s;
      animation-name: slidein;
    }
    .fadeOut{
      position: relative;
      animation-duration: 0.5s;
      animation-name: slideout;
    }
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%; 
        opacity: 0.0;
      }
      to {
        margin-left: 0%;
        width: 100%;
        opacity: 1.0;
      }
    }
    @keyframes slideout {
      from {
        margin-left: 0%;
        width: 100%;
        opacity: 1.0;
      }
      to {
        margin-left:-300px;
        width: 300px; 
        opacity: 0.0;
      }
    }
}