
@mixin grayscale($grayscale) {
    -webkit-filter: grayscale($grayscale);
    -moz-filter: grayscale($grayscale);
    -o-filter: grayscale($grayscale);
    -ms-filter: grayscale($grayscale);
    filter: grayscale($grayscale);
}

@mixin shadow($h-offset, $v-offset, $blur, $spread, $color ) { 
    -webkit-box-shadow: $h-offset, $v-offset, $blur, $spread, $color;
    -moz-box-shadow: $h-offset, $v-offset, $blur, $spread, $color;
    box-shadow: $h-offset, $v-offset, $blur, $spread, $color;
}

@mixin animation($name, $time, $effect)  {
    -webkit-animation: $name $time $effect;
    -moz-animation:    $name $time $effect;
    -o-animation:      $name $time $effect;
    animation:         $name $time $effect;
}

@mixin transition($effect, $time) {
    -webkit-transition: $effect, $time;
    transition: $effect, $time;
}