@import './node/node';

.timeline {
    position: absolute;
    left: 0;
    width: 1%;
    height: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    background-image: url('../images/blackline.png');
    background-repeat: repeat-x;
    background-position: center; 
    font-family: roboto;
    -webkit-animation: increase 3s;
    -moz-animation:    increase 3s; 
    -o-animation:      increase 3s; 
    animation:         increase 3s;
    animation-delay: 0.5s; 
    animation-fill-mode: forwards;
}
@keyframes increase {
    100% {
        width: 100%;
    }
}
%circle{
    content: '';
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5d89a1;
    z-index: 999;
}

.end-date, .start-date {
    position: absolute;
    top: 96px;
    font-size: 1em;
}
.end-date{ 
    right: -50px;
    &:before{
        @extend %circle;
        margin-right:2px;
    }
}
.start-date{
    left: -50px;
    &:after{
        @extend %circle;
        margin-left:2px;
    }
}