.content { 
  margin-top: 7em;
  .mid-section {
      display: flex;
      margin-bottom: 3em;
      margin-top: 2em;
      letter-spacing: 1px;
      .menu{
        max-width: 25%;
        min-width: 25%;
        margin-top: 1.5em;
        &:before{
          content: '';
          display: block;
          width: 4%;
          height: 1px;
          position: absolute;
          background-color: $orange-color;
        }
        nav {
          display: block;
          margin-top:3em;
          a { 
            color: #000;
            width: fit-content;
            display: block;
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 500;
            margin-bottom: 0.5em;
            line-height: 38px;
            border-bottom-width: 3px;
            &:hover {
              text-decoration: underline;
              text-decoration-color:  $orange-color;
            }
          }
        }
        .download-note { 
          font-size: 0.6em;
          letter-spacing: 1px;
          text-decoration: none;
        }
      }
      .intro {
        max-width: 75%;
        min-width: 75%;
        color: $blue-color;
        margin-top: 3em;
        .working-for {
          font-weight: bold;
          color: $orange-color;
          text-transform: uppercase;
        }
      }
  }
}


@media only screen and (max-width: 999px) {
    .midSection {
      margin-bottom: 1rem;
      margin-top: 1.5em;
      .menu{
        nav {
          display: block;
          margin-top:2em;
          a { 
            font-size: .7em;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 200;
          }
        }
      }
    }
}