.intro{
    position: relative;
    grid-area: intro;
    intro-block{
        font-size: 1.5rem;
    }
    article#intro-block {
        text-align: left;
        width: 100%;
        background-color: #fff;
        z-index: 3;
        position: relative;
        p { 
            line-height: 40px;
            margin-left: 30px;
            font-size: 1.3rem;
            width: 100%;
            margin-top:0;
        }
        a:hover {
            color: rgba(72, 111, 144, 0.7);
            text-decoration: none;
            font-size: 1.55rem;
            height: 30px;
            -webkit-transition: all 1.5s;
            transition: all 0.55s;
            border-bottom: 2px solid rgba(72, 111, 144, 0.7);

        }
    }
}