body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
  font-family: "Droid Serif";
  font-weight: 900;
  line-height: 1.26;
  color: black;
}
h2 { 
  font-family: indieFlower;
  font-weight: 500;
  line-height: 1.26;
  font-size: 1.8rem;
  letter-spacing: 4px;
  color: black;
  text-align: left;
  margin-bottom: 0;
}
h3{
  font-family: "Droid Serif";
  color: black;
}
p {
  font-size: 1.3rem;
  color: black;
  margin-left: 1.0rem;
  margin-bottom: 0;
  & a { 
    color:#fa9717;
    text-decoration: none;
  }
}
