@import './components/knowledgeStack/knowledgeStack.scss';
@import './components/techcolofon/techcolofon.scss';
@import './components/intro/intro.scss';
@import './components/timeline/timeline.scss';
@import './components/portfolio/portfolio.scss';
@import './components/content/content.scss';

@font-face {
  font-family: indieFlower;
  src: url('../fonts/indie/IndieFlower.ttf');
}
@font-face {
  font-family: amatic;
  src: url('../fonts/amatic/AmaticSC-Regular.ttf');
}
@font-face {
  font-family: cinzel;
  src: url('../fonts/cinzel/Cinzel-Regular.ttf');
}
@font-face {
  font-family: josefin;
  src: url('../fonts/josefin/josefinSlab-Regular.ttf');
}
@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
/*font-family: amatic;*/
a { 
  font-family: roboto-bold;
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
p {
  font-family: roboto;
  font-size: 1.3rem;
}
.App {
  display: flex;
  max-width: 1200px;
  height: 100%; 
  flex-direction: column;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
  background-color: orange;
  margin-bottom: 50px;
}
.App-showcase{
  background-color: green;
}
.App-knowledge-stack{
  width: 100%;
  flex-direction: column;
}
.empty-bar{
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
}
.inbedTimeLine { 
  position: relative;
  width: 100%;
  height: 175px;
  margin-bottom: 5em;
  top: 20px;
}
.midSection {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 3em;
  letter-spacing: 1px;
  .menu{
    max-width: 25%;
    min-width: 25%;
    margin-top: 1.5em;
    &:before{
      content: '';
      display: block;
      width: 4%;
      height: 1px;
      position: absolute;
      background-color: #e06c02;
    }
    nav {
      display: block;
      margin-top:3em;
      a { 
        color: #000;
        width: 100%;
        height: 40px;
        display: block;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
      }
    }
  }
  .intro{
    max-width: 75%;
    min-width: 75%;
    color: #5d89a1;
  }
}

@media only screen and (max-width: 999px) {
  .midSection {
    margin-bottom: 1rem;
    margin-top: 1.5em;
    .menu{
      nav {
        display: block;
        margin-top:2em;
        a { 
          font-size: .7em;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 200;
        }
      }
    }
  }
}
.breakout{
  position: absolute;
  background-color: #fff;
  height: 196px;
  width: 100%;
  top: 110px;
  left:0;
  &:after{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    left: 48%;
    top: 151px;
    position: absolute;
    transform: rotate(45deg);
    background-color: #fff;
    -webkit-animation: move 0.3s ease-out;
    -moz-animation:    move 0.3s ease-out; 
    -o-animation:      move 0.3s ease-out; 
    animation:         move 0.3s ease-out;
    animation-delay: 3.2s; 
    animation-fill-mode: forwards;
  }
}

@keyframes move {
  from {top: 151px;}
  to {top: 181px;}
}

.avatar{
  height: 50px;
  width: 300px;
  align-self: center;
  display: flex;
  img { 
    display: inline-block;
    margin-top:-0.2em;
    margin-right: 1em;
  }
  div { 
    align-self: center;
    display: inline-block;
    font-family: roboto-bold;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.content{
  display: block;
  width: 100%;
  margin-top:3em;
}