@import './components/knowledgeStack/knowledgeStack';
@import './components/techcolofon/techcolofon';
@import './components/intro/intro';
@import './components/timeline/timeline';
@import './components/portfolio/portfolio';
@import './components/content/content';

@font-face {
  font-family: indieFlower;
  src: url('../fonts/indie/IndieFlower.ttf');
}
@font-face {
  font-family: amatic;
  src: url('../fonts/amatic/AmaticSC-Regular.ttf');
}
@font-face {
  font-family: cinzel;
  src: url('../fonts/cinzel/Cinzel-Regular.ttf');
}
@font-face {
  font-family: josefin;
  src: url('../fonts/josefin/josefinSlab-Regular.ttf');
}

p {
  font-family: amatic;
  font-size: 1.3rem;
}
.App {
  display: grid;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  grid-template-areas:
  "inBedTimeline inBedTimeline"
  "intro knowledgeStack"
  "content showcase";
  grid-template-columns: 65% 35%;
  position: relative;
  margin-top: 30px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  grid-area: intro;
  font-size: large;
  background-color: orange;
  margin-bottom: 50px;
}
.App-showcase{
  grid-area: showcase;
  background-color: green;
}
.App-knowledge-stack{
  grid-area: knowledgeStack;
  font-size: large;
}
.content{
  grid-area: content;
}
.inbedTimeLine { 
  grid-area: inBedTimeline;
  position: relative;
  width: 100%;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 50px;
}
