.App {
  display: grid;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  grid-template-areas:
  "timeline timeline"
  "intro knowledgeStack"
  "showcase showcase"
  "content content"
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-timeline {
  grid-area: timeline;
  background-color: red;
  padding: 20px;
  color: #fff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  grid-area: intro;
  font-size: large;
  background-color: orange;
}

.App-knowledge-stack{
  grid-area: knowledgeStack;
  font-size: large;
  background-color: blue;

}

.App-showcase{
  grid-area: showcase;
  background-color: green;
}

.App-content{
  grid-area: content;
  background-color: silver;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
