@import './node/node';

.timeline-frame {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: none;
    position: relative;
    background-image: url('../images/blackline.png');
    background-repeat: repeat-x;
    background-position: center;
    @include small-desktop { 
        display: block;
        height: 170px;
        margin-bottom: 3em;
    }
    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        left: 48%;
        top: 125px;
        position: absolute;
        transform: rotate(45deg);
        background-color: #fff;
        @include animation(move, 0.3s, ease-out);
        animation-delay: 3.2s; 
        animation-fill-mode: forwards;
    }
}
.outer-timeline {
    display: none;
    position: absolute;
    background-color: #fff;
    height: 196px;
    width: 100%;
    top: 80px;
    left:0;
    @include small-desktop { 
        display: block;
    }
}
.inbedded-timeline {
    position: relative; 
    height: inherit;
    width: 500%;
    margin-left: -200%;
    background-color:#fff;
    z-index: -1;
    @include small-desktop { 
        display: block;
    }
}
.date-circle {
    position: absolute;
    top: 76px;
    @include small-desktop {
        font-size: 0.75em;
    }
    @include desktop {
        font-size: 1em;
    }
}
.end-date{ 
    right: -50px;
    @include small-desktop {  
        right: -39px; 
        top: 79px;
    }
     @include desktop {  
        right: -48px; 
        top: 76px;
    }
    @extend .date-circle;
    &:before {
        @extend %circle;
        margin-right: 2px;
    }
}
.start-date{
    @include small-desktop {  
        left: -38px; 
        top: 80px;
    }
    @include desktop {  
        left: -48px; 
        top: 76px;
    }
    @extend .date-circle;
    &:after {
        @extend %circle;
        margin-left: 2px;
    }
}

@keyframes increase {
    100% {
        width: 100%;
    }
}

%circle{
    content: '';
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $blue-color;
    z-index: 999;
}